<!DOCTYPE html>
<html>
<head>
  <title>Rutgers Flyers</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="nav-wrapper">
  <nav>
    <a href="#" class="brand-logo"><img src="..public/css/library.jpg"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    </ul>
  </nav> 
</div> 


  {{{ body }}}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
