<!DOCTYPE html>
<html>
<head>  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="stylesheet.css">



  <title></title>
</head>
<body>
<p>Welcome to RU Flyer Homepage</p>

</body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">RU FLYER</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary btn-lg active">
              <li><a href="home.html">home</a>
              </li> 
            </button>
              </li>
              <li><button type="button" class="btn btn-primary btn-lg">
                <li class="active"><a href="login.html">Login</a></li></button>
              <li class="active"><a href="register.html">Register</a></li> </button>
          </div>
        </ul>
  </div>
</nav>  

  
<form>
  First name:<br>
  <input type="text" name="firstname">
  </br>
  Last name:<br>
  <input type="text" name="lastname">
  </br>
  Email:<br>
  <input type="text" email="email">
  </br>
    <button class="btn waves-effect waves-light" type="submit" name="action">Please Register
    <i class="material-icons right">Here</i>
  </button>
</form>   

          <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><img src="imagesx/rutgers-logo.gif" height="100" width="100"></h5>
                <ul>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>

</html>