<!DOCTYPE html>
<html>
<head>  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <title></title>
</head>
<body>
<p>Homepage</p>

</body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">RU FLYER</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary btn-lg active">
              <li><a href="home.html">home</a>
              </li> 
            </button>
              </li>
              <li><button type="button" class="btn btn-primary btn-lg">
              <li><a href="blog.html"></a>LOGIN</li> </button></a></li>
              <li><button type="button" class="btn btn-default btn-lg">
              <li class="active"><a href="repos.html">Register</a></li> </button>
          </div>
        </ul>
  </div>
</nav>   

<form>
  First name:<br>
  <input type="text" name="firstname">
  </br>
  Last name:<br>
  <input type="text" name="lastname">
  </br>
  Email:<br>
  <input type="text" email="email">
  </br>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">here</i>
  </button>
</form>   

          <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>

</html>