<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
         <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>

    </ol>
    <!-- Carousel items -->

   
    <div class="carousel-inner">
        <div class="active item">
         <img src="../public/pics/rutgersgarden.JPG" alt="..." class="rutpix" height="900" width="1300"></div>
        <div class="active item">
         <img src="..public/pics/library.jpg" alt="..." class="rutpix" height="300" width="1300"></div>
         <div class="active item">
         <img src="..public/pics/cafe.jpg" alt="..." class="rutpix" height="1100" width="1300"></div>
        <div class="item">
          <img src="..public/pics/truck.jpg" alt="..." class="rutpix" height="1000" width="1300"></div>
        <div class="item">
          <img src="public/pics/game.jpg" alt="..." class="rutpix" width="1300">
        </div>
        <div class="item">
          <img src="public/pics/garden.jpg" alt="..." class="rutpix" height="1300" width="4000">
        </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>  